<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="w-full bg-white py-10 shadow-md fixed z-20">
            <div class="max-w-7xl flex justify-between mx-auto w-full px-10">
                <div>
                    <a href="/">shortlink</a>
                </div>
                <div>
                    <nav>
                        <ul class="flex gap-x-10">
                            <li><a href="/">Home</a></li>
                            <% if(user) { %>
                                <li><a href="/url">Url</a></li>
                            <% } else { %>
                                <li><a href="/login">login</a></li>
                            <% } %>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>