<%- include('partials/header') %>
    <div id="main" class="flex flex-col h-screen items-center justify-center opacity-0 translate-y-4 transition-all duration-700">
        <div class="bg-white shadow-md rounded-lg p-6 max-w-2xl mx-auto  w-full text-center">
            <h1 class="text-2xl font-bold text-gray-700 mb-4">Visitor Count</h1>
            <p class="text-lg">You are viewing the page:</p>
            <p class="text-xl font-semibold text-blue-600 mb-4"><%= url.shortUrl %></p>
            <div class="py-4 border-t">
                <p class="text-lg text-gray-500">Total Visitors:</p>
                <p class="text-4xl font-bold text-green-500"><%= url.visit %></p>
            </div>
        </div>
    </div>
<%- include('partials/footer') %>
