<%- include('partials/header') %>
<div class="h-screen flex flex-col items-center justify-center">
    <% if(!user){ %>
        <h2 class="text-4xl text-green-500">Simplify Your URLs, Amplify Your Reach</h2>
        <a href="/signup" class="mt-4 px-4 py-2 bg-blue-500 rounded-lg">Get Started</a>
    <% } else { %>
    <%- include('shorturl') %>
    <% } %>
</div>
<%- include('partials/footer') %>
