<%- include('partials/header') %>

    <div class="h-screen flex flex-col items-center justify-center">
        <p class="text-4xl text-green-500"><%= msg %></p>
        <a href="/" class="mt-4 px-4 py-2 bg-blue-500 rounded-lg">home</a>
    </div>

<%- include('partials/footer') %>
